table {
	border:5px;
}
p {
	font:normal 12px/17px Arial;
}
td {
	font:normal 12px/17px Cascadia Code;
	text-align:center;
	padding:2px;
}
th {
	font:bold 12px/17px Cascadia Code;
	text-align:center;
	padding:2px;
	border-bottom:1px solid #333;
}
.even {
	background:#FFF38F;
}
/* 偶数行样式*/
        .odd {
	background:#FFFFEE;
}
/* 奇数行样式*/
        .selected {
	background:#FF6500;
	color:#fff;
}
.table1 {
	display:none;
}
