h1 {
	text-align:center;
	font:bold Cascadia Code;
}

table {
	border:5px;
	text-align:center;
	margin:auto ;
}
p {
	font:normal 12px/17px Cascadia Code;
	text-align:center;
}
td {
	font:normal 12px/17px Cascadia Code;
	text-align:center;
	padding:2px;
}
th {
	font:bold 12px/17px Cascadia Code;
	text-align:center;
	padding:2px;
	border-bottom:1px solid #333;
}
.even {
	background:#FFF38F;
}
/* 偶数行样式*/
        .odd {
	background:#FFFFEE;
}
/* 奇数行样式*/
        .selected {
	background:#FF6500;
	color:#fff;
}
.table1 {
	text-align:center;
}
.content{
	/* display:none; */
}
.content tr{
	display:none;
}
#notData{
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}